@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<h4>If you have any question please contact me</h4>

<address>
    <strong>Mail:</strong> <a href="mailto:tomaszkaniewski95@gmail.com">tomaszkaniewski95@gmail.com</a>
</address>
