@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/car1.jpg" class="img-responsive" />
        </div>
        <div class="item">
            <img src="~/images/car2.jpg" class="img-responsive" />
        </div>
        <div class="item">
            <img src="~/images/car3.jpg" class="img-responsive" />
        </div>
        <div class="item">
            <img src="~/images/car4.jpg" class="img-responsive" />
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>What you can try?</h2>
        <ul>
            <li>Search books</li>
            <li>See all books of the Author</li>
            <li>See detailed information about the Book</li>
            <li>Login on Admin account (Log: Admin pass: Admin1234)</li>
            <ul>
                <li>Add/Edit/Delete Books and Authors</li>
            </ul>
            <li>Login on User account (Log: User pass: User1234) or register</li>
            <ul>
                <li>Rate books</li>
                <li>See all rated books</li>
            </ul>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Amazing Music</h2>
        <ul>
            <li><a target="_blank" href="https://www.youtube.com/watch?v=HgzGwKwLmgM">Queen - Don't Stop Me Now</a></li>
            <li><a target="_blank" href="https://www.youtube.com/watch?v=lDK9QqIzhwk">Bon Jovi - Livin' On A Prayer</a></li>
            <li><a target="_blank" href="https://www.youtube.com/watch?v=qOMU5KOVoJ8">Bee Gees - Tragedy</a></li>
            <li><a target="_blank" href="https://www.youtube.com/watch?v=QtxlCsVKkvY">Boney M - Daddy cool</a></li>
            <li><a target="_blank" href="https://www.youtube.com/watch?v=Eco4z98nIQY">Parov Stelar - Booty Swing</a></li>
            <li><a target="_blank" href="https://www.youtube.com/watch?v=F13JNjpNW6c">Little Richard - Tutti Frutti</a></li>
            <li><a target="_blank" href="https://www.youtube.com/watch?v=oRdxUFDoQe0">Michael Jackson - Beat It</a></li>
            <li><a target="_blank" href="https://youtu.be/dlyeNzdLel4">Kissogram - Black Sheep Skin</a></li>
            <li><a target="_blank" href="https://youtu.be/6hzrDeceEKc">Oasis - Wonderwall</a></li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Forbidden</h2>
        <ul>
            <li><a target="_blank" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Do not click here!</a></li>
        </ul>
    </div>
</div>