@if (SignInManager.IsSignedIn(User))
{
    if (User.IsInRole("Admin"))
    {
        <li class="dropdown">
            <a asp-controller="" asp-action="" class="dropdown-toggle" 
               data-toggle="dropdown">Add new <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>
                    <a asp-controller="Author" asp-action="Create">Add Author</a>
                </li>
                <li>
                    <a asp-controller="Book" asp-action="Create">Add Book</a>
                </li>
            </ul>
        </li>
        <li><a asp-controller="Author" asp-action="index">Authors</a></li>
    }
    if (User.IsInRole("User"))
    {
        <li><a asp-controller="User" asp-action="index">@User.Identity.Name</a></li>
    }
}