@model List<BookRatingViewModel>

@{
    ViewData["Title"] = User.Identity.Name;
}

<h2>@ViewData["Title"]</h2>

<hr />

<div class="row">
    @foreach (BookRatingViewModel book in Model)
    {
        @Html.Partial("_BookBlockPartial", book)
    }
</div>


