@model AuthorDetailsViewModel

@{
    ViewData["Title"] = Model.Author.Name + " " + Model.Author.LastName;
}

<h2>@ViewData["Title"]</h2>

<div>
    @await Html.PartialAsync("_AdminButtonsPartial", new { id = Model.Author.AuthorId, controller = "Author" })
</div>

<hr />

<div class="row">
    @for (int i = 0; i < Model.Author.Books.Count; i++)
    {
        @Html.Partial("_BookBlockPartial", 
            new BookRatingViewModel() { Book = Model.Author.Books[i], Rating = Model.Ratings[i]})
    }
</div>
