@model Author

@{
    ViewData["Title"] = Model.Name + " " + Model.LastName;
}

<h2>@ViewData["Title"]</h2>

<div>
    @await Html.PartialAsync("AdminAuthorButtons")
</div>

<hr />

<div class="row">
    @foreach (Book book in Model.Books)
    {
        @Html.Partial("BookBlock", new BookRatingViewModel() { Book = book, Rating = 0 })
    }
</div>
